html
    head
        title The Game
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='public/packages/phaser.min.js')
        style
            include ../public/css/style.css
    body.game_body
        div#phaser_canvas
        div#inventory_box
        div#chat_container
            div#chat_box
                div Welcome to the Chat!
            form#chat_form(autocomplete="off")
                input#chat_input(type="text")
    //script(src='public/js/play.js')
    script(src='public/js/game.js')
