html
	head
		title Patch Notes
		style
			include ../public/css/style.css
	body
		div.patch_div
			h1 0.1 - July 9, 2018
			ul
				li Enclosed map using tilemap
				li Movement through arrow keys or WASD
				li See other players moving
