.rock_mine, .rock {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	margin: 0;
	padding: 0;
}
.patch_div {
	margin: 0% 35% 0% 35%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #8cb3d9;
	font-family: sans-serif;
}

.patch_div h1 {
	text-align: center;
	text-decoration: underline;
}

.patch_div li {
	font-size: 14px;
}

.login_div {
	text-align: center;
	margin: 15% 28% 28% 28%;
	padding: 5% 2% 5% 2%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #8cb3d9;
}

.login_body {
	overflow: hidden;
}

.login_buttons {
	margin: 0px 5px 0px 5px;
}

.game_body {
	text-align: center;
	margin: 0;
	overflow: hidden;
}

#save_button {
	width: 100px;
	height: 50px;
	background-color: #4b4d53;
	color: #f6c0ea;
	font-size: 20px;
	font-weight: bold;
}

/* Chat Appearance */
#chat_container {
	position: absolute;
	bottom: 3%;
	right: 1%;
	width: 30%;
	height: 23%;
	background-color: rgba(0, 0, 0, 0.05);
}
#chat_box {
	border: 1px solid black;
	overflow-y: scroll;
	text-align: left;
	width: 100%;
	height: 100%;
}
#chat_input {
	border: 1px solid black;
	border-top: none;
	width: 100%;
}

/* Inventory Appearance */
#inventory_box {
	border: 1px solid black;
	height: 25%;
	width: 30%;
	bottom: 1%;
	left: 1%;
	position: absolute;
	word-wrap: normal;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.05);
}

/* Inventory items */
#inventory_box img:first-child {
	margin: 1% 0.25% 0.25% 1%;
}
#inventory_box img {
	margin: 0.25%;
}
.log_image {
	width: 16px;
	height: 16px;
	background: url(public/images/roguelikeitems.png) -32px -96px;
}
.ore_image {
	width: 16px;
	height: 16px;
	background: url(public/images/roguelikeitems.png) -0px -64px;
}
.axe_image {
	width: 16px;
	height: 16px;
	background: url(public/images/roguelikeitems.png) -128px -96px;
}
.pickaxe_image {
	width: 16px;
	height: 16px;
	background: url(public/images/roguelikeitems.png) -80px -96px;
}
