.rock_mine, .rock {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	margin: 0;
	padding: 0;
}
.patch_div {
	margin: 0% 35% 0% 35%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #8cb3d9;
	font-family: sans-serif;
}

.patch_div h1 {
	text-align: center;
	text-decoration: underline;
}

.patch_div li {
	font-size: 14px;
}

.login_div {
	text-align: center;
	margin: 15% 28% 28% 28%;
	padding: 5% 2% 5% 2%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #8cb3d9;
}

.login_body {
	overflow: hidden;
}

.login_buttons {
	margin: 0px 5px 0px 5px;
}

.game_body {
	text-align: center;
	margin: 0;
}

#save_button {
	width: 100px;
	height: 50px;
	background-color: #4b4d53;
	color: #f6c0ea;
	font-size: 20px;
	font-weight: bold;
}
.chat {
	width: 500px;
	margin: 0 auto;
}
#chat_box {
	height: 100px;
	border: 1px solid black;
	overflow-y: scroll;
	text-align: left;
	margin-top: 10px;
}
#inventory_box {
	float: left;
	border: 1px solid black;
	height: 400px;
	width: 250px;
	margin: 5% 0 0 5%;
	position: absolute;
}
